/*Fonts*//*
@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"),
     url("../fonts/cuprum.woff2") format("woff2"),
     url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "PT Sans" ;
  src: local("PT Sans"), local("PTSans"),
     url("../fonts/ptsans.woff2") format("woff2"),
     url("../fonts/ptsans.woff") format("woff");
}
*/
/*Variables*/

:root {
  /*basic*/
  --basic-background: #F1F5F7;
  --basic-background-blue: #293449;
  --basic-background-gray: #F9F5F0;
  --background-blue: #F2F6F8;
  --background-beige: #F7F3EC;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #32425C;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-gold: #FFD180;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-border: #EAEAEA;
/*specials*/
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;/*лиловый цвет*/
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFC047;
  --special-black: rgba(0, 0, 0, 0.3);
  --special-border: #E5E5E5;
  /*active, hover, focus*/
  --hover-red: #CA2C37;
  --hover-greylight: rgba(197, 197, 197, 0.3);
  --active-green: #518534;
  --active-bg-blue: #1D2739;
  --active-red: #BA2732;
  --active-blue: #161D29;
  --active-white: rgba(255, 255, 255, 0.5);
  --active-gray: rgba(241, 245, 247, 0.5);
  --active-gold: rgba(255, 209, 128, 0.5);
  --delete: #A9A9A9;
  --success: #5FBB2D;
}

/*Global*/
body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  width: 192px;
  height: 38px;
  box-sizing: border-box;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
  display: inline-block;
  color: var(--basic-white);
  text-decoration: none;
}
/*активная составляющая кнопок*/
/*наведение*/
.button:hover,
.button:focus {
  background-color: var(--hover-red);
}
/*клик по кнопке*/
.button:active {
  background-color: var(--active-red);
}
/*Секционные заголовки*/
.section-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  color: var(--basic-blue);
  font-size: 30px;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
  padding: 30px;
}
/*Другие заголовки*/
.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}
/*visually-hidden*/
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
/*контейнер центровщик для секций страницы*/
.container {
  width: 940px;
  margin: 0 auto;
}
/*Grid*/
/*добавляем всей странице высоту 100%*/
.page {
  height: 100vh;
}
/*сетка для страницы*/
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*header*/
.main-header {
  background-color: var(--basic-background);
}
/*блок-центровщик для хедера*/
.header-container {
  min-width: 940px;
  height: 42px;
  background-color: var(--basic-background-blue);
  color: var(--basic-white);

}
/*блок-обертка для хедера*/
.header-container-wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 220px 1fr auto 150px;
  width: 940px;
}

/*верхнееи меню*/
.header-container-menu {
  display: grid;
  grid-template-columns: 150px 150px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/*оформление логотипа в хедере*/
.header-logo {
  background-color: var(--basic-red);
  height: 47px;
  width: 220px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  padding: 12px 55px 17px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: center;
}
/*активная составляющая для логотипа*/
.header-logo:active {
  background-color: var(--active-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);

}
/*поле поиска*/
.search {
  padding: 9px 0;
}
/*корзина и закладки*/
.header-link {
  display: block;
  width: 150px;
  height: 42px;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}
.header-marker {
  padding: 9px 24px 9px 43px;
}
.header-basket {
  padding: 9px 21px 9px 35px;
}
.selection {
  background-color: var(--basic-red);
}
/*активная составляющая*/
.header-link:active {
  color: var(--active-white);
  background-color: var(--active-blue);
}
/*ссылка на оформление заказа*/
.order-link {
  display: block;
  width: 150px;
  height: 42px;
  box-sizing: border-box;
  padding: 9px 16px 9px 19px;
  background-color: var(--basic-green);
  color: inherit;
  text-decoration: none;
}

/*активная составляющая*/
/*наведение*/
.order-link:hover,
.order-link:focus {
  background-color: var(--success);
}
/*клик по ссылке*/
.order-link:active {
  background-color: var(--basic-green);
  color: var(--active-white);
}
/*блок с описанием*/
.header-description {
  color: var(--basic-red);
  margin-top: 40px;
  margin-bottom: 40px;
}
/*блок-обертка для описания*/
.header-description-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 940px;
  margin: 0 auto;
}
/*абзац с описанием в заголовке*/
.header-description p {
  margin: 0;
  padding-left: 30px;
  font-size: 16px;
  line-height: 23px;
}
/*блок с телефоном и адресом*/

.header-contacts p {
  padding: 0;
  margin: 3px 10px;
}
/*ссылка на номер телефона*/
.phone-link {
  display: block;
  width: 270px;
  height: 45px;
  padding: 7px 0;
  box-sizing: border-box;
  border: 3px solid var(--basic-white);
  color: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}
/*адрес в заголовке*/
.header-contacts p {
  color: var(--basic-blue);
  font-size: 14px;
}
/*ссылки на вход и регистрацию*/
.header-entrance-person {
  display: inline-block;
  padding: 9px 57px;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  text-decoration: none;
}
.header-entrance p {
  margin: 0;
  padding: 0;
}
.header-entrance-list {
  display: grid;
  grid-template-columns: auto auto;
  width: 210px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;

}
.header-entrance-list a {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-blue);

}
.header-entrance-link,
.header-registration-link {
  display: inline-block;
  background-color: var(--basic-white);
  text-decoration: none;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);

}
.header-registration-link {
  padding: 12px 24px;
}

.header-entrance-link {
  padding: 12px 27px 12px 45px;
}

/*активная составляющая*/
/*наведение на ссылки*/
.header-entrance a:hover,
.header-entrance a:focus {
  color: var(--basic-red);
}
/*клик по ссылкам*/
.header-entrance a:active {
  color: var(--basic-greylight);
}
/*главное меню*/
.header-nav {
  background-color: var(--basic-blue);
  height: 60px;
  width: 940px;
  box-shadow: inset 0px -5px 0px #293449;
  margin: 0 auto;
  margin-bottom: 60px;
}
.site-navigation {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 53px;
  text-align: center;
  margin: 0;
  list-style: none;
}
/*элементы меню*/
.site-navigation-item a {
  display: block;
  padding: 16px 20px;
  color: var(--basic-white);
  text-decoration: none;
}
/*активная составляющая*/
/*наведение курсора*/
.site-navigation-item a:hover,
.site-navigation-item a:focus {
  background-color: var(--basic-background-blue);
}
/*клик по ссылке*/
.site-navigation-item a:active {
  background-color: var(--active-bg-blue);
  color: var(--active-white);
}
/*main*/
/*breadcrumbs*/
.breadcrumbs-list {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  padding: 0;
  margin: 0;
  margin-top: 20px;
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}
.breadcrumbs-list-item {
  margin-right: 10px;
}
/*элементы списка хлебных крошек*/
.breadcrumbs-list a {
  color: inherit;
  text-decoration: none;
}

/*offers*/
.offers {
  margin-bottom: 60px;
  margin-top: 60px;
}

.offers-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/*список*/
.offers-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "yellow blue lilac"
    "carousel carousel green"
    "carousel carousel gold";
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

/*элементы списка предложений*/
.offers-list-item {
  color: var(--basic-white);
  width: 300px;
  height: 123px;
  box-sizing: border-box;
}
/*активная составляющая*/
/*наведение*/
.offers-list-item a:hover,
.offers-list-item a:focus {
  background-color: var(--hover-greylight);
}
/*клик по ссылке*/
.offers-list-item a:active {
  background-color: var(--delete);
}
/*описание предложения*/
.offers-list-item p {
  margin: 20px 30px 14px 22px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
/*ссылка в предложении*/
.offers-link {
  display: inline-block;
  width: 153px;
  height: 38px;
  margin: 0 30px 21px 22px;
  padding: 10px 30px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  background-color: var(--active-white);
}
/*блоки предложений*/
.offers-list-item:nth-child(1) {
  background-image: url("../img/icon-1.png");
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-color: var(--special-yellow);
  grid-area: yellow;
}

.offers-list-item:nth-child(2) {
  background-image: url("../img/icon-2.png");
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-color: var(--special-blue);
  grid-area: blue;
}

.offers-list-item:nth-child(3) {
  background-image: url("../img/icon-3.png");
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-color: var(--special-lilac);
  grid-area: lilac;
}

.offers-list-item:nth-child(4) {
  background-image: url("../img/icon-4.png");
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-color: var(--special-greenlight);
  grid-area: green;
}

.offers-list-item:nth-child(5) {
  background-image: url("../img/icon-5.png");
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-color: var(--special-yellowlight);
  grid-area: gold;
}
.offers-list-item:nth-child(6) {

  grid-area: carousel;
}
/*Карусель*/
.carousel-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel-header {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  top: 23px;
  left: 24px;
  text-transform: uppercase;
  color: var(--basic-white);
}
/*описание изображения*/
.carousel-description {
  position: absolute;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  top: 40px;
  left: 0;
  color: var(--basic-white);
}
.carousel-inner {
  position: relative;
  width: 620px;
  height: 266px;
  display: none;
}
.carousel-active {
  display: block;
}

.carousel-inner .button {
  position: absolute;
  bottom: 27px;
  left: 24px;
}
/*активная составляющая*/
.carousel-inner .button:hover,
.carousel-inner .button:focus {
  background-color: var(--hover-red);
}
.carousel-inner .button:active {
  background-color: var(--active-red);
}
.carousel-indicator {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  width: 30px;
  height: 10px;
  bottom: 36px;
  left: 290px;
  z-index: 10;

}
.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.indicator-active {
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  background-color: var(--basic-red);
}

.carousel-button {
  position: absolute;
  bottom: 104px;
  left: 24px;
  cursor: pointer;
  border: none;
}

.carousel-button-next {
  left: auto;
  right: 20px;
}
/*catalog*/
.title-wrap {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--basic-background-gray);
  box-sizing: border-box;
}
.title-wrap .button {
  align-self: center;
  margin-right: 14px;
}
/*раскладка для страницы каталога*/
.catalog-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.catalog-header {
  height: 90px;
  margin: 20px 0;
  background-color: var(--background-blue)
}
.catalog-wrap .button,
.brands-wrap,
.catalog-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--background-beige);
  margin: 0;
}

/*фильтры и сортировка каталога*/
.catalog-filters {
  width: 220px;
  height: 720px;
  outline: 1px solid blue;

}
.catalog-sorting-wrap {
  display: grid;
  padding: 10px 18px;
  grid-template-columns: 230px 1fr auto;
  background-color: var(--background-beige);
  align-items: center;
}
/*список сортировки*/
.catalog-sorting-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 0 0;
  margin: 0;
  list-style: none;
}
/*элементы списка сортировки*/
.catalog-sorting-item a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted var(--basic-red);
  color: var(--special-black);
}
/*активная составляющая*/
.catalog-sorting-item a:hover,
.catalog-sorting-item a:focus {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}
/*индикатор активности*/
.catalog-sorting-item a:active {
  color: var(--basic-red);
  border-bottom: none;
}
/*список каталога*/
.catalog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 0;
  margin: 20px 0 48px 0;
  list-style: none;
}
/*Каталог на главной странице*/
.catalog-grid {
  display: grid;
  grid-template-rows: 1fr auto;
}

.catalog-grid h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  order: 1;
}

.catalog-link {
  align-self: center;
}
.catalog-card {
  display: grid;
  grid-template-rows: 1fr 70px;
  width: 220px;
  height: 318px;
  border: 1px solid var(--basic-border);
  margin: 0 auto;
  padding-bottom: 21px;
  text-align: center;
  box-sizing: border-box;
}
.catalog-price {
  display: grid;
  grid-template-areas:
  "delete"
  "price";
  grid-template-rows: 32px auto;
}
.catalog-price del {
  display: inline-block;
  grid-area: delete;
  padding: 0;
  color: var(--delete);
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin: 7px 0 13px 0;
}

.catalog-list .price {
  display: block;
  grid-area: price;
  width: 141px;
  height: 38px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 44px 10px 32px;
}
.catalog-card-events-list {
  display: none;
}
/*элементы списка*/


.catalog-page .catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
/*свойства для ссылок и кнопок*/
.catalog-buy {
  background-color: var(--basic-green);
  color: var(--basic-white);
  text-decoration: none;
}

/*активная составляющая*/
/*наведение*/
.catalog-buy:hover,
.catalog-buy:focus {
  background-color: var(--success);
}
/*клик по ссылке*/
.catalog-buy:active {
  background-color: var(--active-green);
}

/*подсвеченная цена в списке*/
.price {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}
/*pagination*/
.pagination-list {
  display: grid;
  grid-template-columns: repeat(4, 38px) auto;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  grid-column-gap: 10px;
  list-style: none;
}
/*элементы пагинации*/
.pagination-list a {
  display: block;
  width: 38px;
  height: 38px;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid var(--special-border);
  box-sizing: border-box;
  border-radius: 2px;
  font-style: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-list a:focus,
.pagination-list a:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination-list a:active {
  border: 1px solid var(--basic-red);
}
.pagination-list .pagination-active {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 0;
}
.pagination-list .pagination-button {
  display: block;
  width: 140px;
  height: 38px;
  padding: 10px 31px;
}
/*brands*/
/*список*/
.brands-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  padding: 0;
  margin: 20px 0 70px 0;
  list-style: none;
}

.brands-link {
  display: grid;
  width: 220px;
  height: 145px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--basic-border);
  box-sizing: border-box;
}

/*активная составляющая для ссылок на бренды*/
/*наведение*/
.brands-link:focus,
.brands-link:hover {
  background-color: var(--basic-white);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
/*клик по ссылке*/
.brands-link:active {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  opacity: 0.5;
}

/*services*/

.services {
  padding: 64px 0;
  background-color: var(--basic-background);
}
/*строим сетку для блока*/
.services-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 80px;
  margin-top: 40px;
}
/*абзацы описания сервисов*/
.services h2 {
  margin: 0;
}
.services p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}
/*список*/
.services-list {
  width: 240px;
  padding: 0;
  margin: 0;
  list-style: none;
}
/*список выбора сервисов*/
.services-item {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}
/*элементы списка*/
.services-link {
  display: block;
  padding: 14px 20px 18px 22px;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
/*активная составляющая*/
/*наведение*/
.services-link:hover,
.services-link:focus {
  background-color: var(--basic-background-blue);
  color: var(--basic-white);
}
/*индикатор активности*/
.services-link:active {
  background-color: var(--basic-white);
  color: var(--basic-background-blue);
}

/*заголовки сервисов*/
.services-header {
  text-transform: uppercase;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-blue);
}

/*добавление фоновых изображений*/
.delivery {
  background-image: url(../img/delivery.png);
  background-position: 100% -30%;
  background-repeat: no-repeat;
}

.guarantee {
  background-image: url(../img/guarantee.png);
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

.credit {
  background-image: url(../img/credit.png);
  background-position: right top;
  background-repeat: no-repeat;
}
.services-section {
  display: none;
}
.services-active {
  display: block;
}



/*сетка для блока с описанием и контактами*/
.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 70px;
}

.description-product {
  background-color: var(--basic-background);
  padding: 65px 0;
}
.description-product p {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.contacts {
  margin-left: auto;
}
/*абзацы разделов*/
.index-columns p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.contacts {
  width: 300px;
}
.contacts .button {
  width: 100%;
  margin-top: 25px;
}


/*footer*/
.footer-page {
  display: grid;
  grid-template-rows: auto 107px;
  background-color: var(--basic-blue);
  color: var(--basic-background);
}

.footer-navigation {
  display: grid;
  grid-template-columns: 355px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logo menu"
    "logo submenu";
}
.footer-logo {
  grid-area: logo;
}
/*меню в футере*/
.footer-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-area: menu;
  padding: 0;
  margin: 37px 0 34px 0;
  list-style: none;
}
/*элементы списка*/
.footer-menu-item a {
  color: inherit;
  text-decoration: none;
}
/*активная составляющая*/
/*наведение*/
.footer-menu-item a:hover,
.footer-menu-item a:focus,
.footer-submenu-item a:hover,
.footer-submenu-item a:focus
{
  text-decoration: underline;
}
/*клик*/
.footer-menu-item a:active
 {
  color: var(--active-gray);
  text-decoration: none;
}
/*подменю в футере*/
.footer-submenu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-area: submenu;
  padding-right: 25px;
  margin: 0;
  list-style: none;
}
/*элементы в подменю*/
.footer-submenu-item a {
  color: var(--basic-gold);
  text-decoration: none;
}
/*клик по ссылке*/
.footer-submenu-item a:active {
  color: var(--active-gold);
  text-decoration: none;
}
/*блок с обратной связью*/
.footer-feedback {
  background-color: var(--basic-background-blue);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.footer-feedback p {
  margin: 36px 20px 34px 0;
}

.footer-feedback-wrapper {
display: grid;
  grid-template-columns: 300px 1fr 300px;
}

.social-list {
  padding: 0;
  list-style: none;
  text-align: center;
}
/*элементы списка соц сетей*/
.social-list-item a {
  color: inherit;
}
/*активная составляющая*/
/*наведение и клик по ссылке*/
.social-list-item a:hover,
.social-list-item a:focus,
.social-list-item a:active {
  background-color: var(--basic-red);
}

/*обратная связь*/
.footer-copyright {
  display: grid;
  grid-template-columns: auto auto;
  margin: 35px 0;
}
.footer-copyright a {
  color: var(--basic-gold);
  text-decoration: none;
}
.footer-copyright dd {
  padding: 0;
  margin: 0;
}

/*акивная составляющая*/
/*наведение*/
.footer-copyright a:hover,
.footer-copyright a:focus {
text-decoration: underline;
}
/*клик по ссылке*/
.footer-copyright a:active {
  color: var(--basic-red);
  text-decoration: none;
}
